:root{
    --primary-color:#28FFBF;
    --btn-color:#BCFFB9;
    font-family: 'Poppins', sans-serif;
}


body{
    background-color: aquamarine;
}

.input-div{
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
button{
    margin: 10px;
    background-color: var(--btn-color);
    border-radius: 5px 10px;
    color: black;
}
button:hover{
    cursor: pointer;
    background-color: var(--primary-color);
}
.output-div{
    text-align: center;
   font-size: 1.5em;
   font-weight: bold;
   
}
h1{
    text-align: center;
}